body{
  background-color: #F7F9FB;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0px;
}

#inputText{
  background-color: white;
  width: 66%;
}

#outputText{
  /*height: 66% !important;*/
}

#outputParse{
  width: 100%;
}

#outputAST{

}

#outputCode{

}

#outputGen{

}

button{
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}
  button:hover{
    color: #f9cf00;
    background-color: #286da8;
  }

.btn-lg{
  font-size: 14px !important;
}

.compile-nav {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    font-size: 16px;
    background-color: #31b0d5;
    border-bottom: 2px solid #f9cf00;
}

.space{
  height: 20px;
  width: 100%;
}

form{
  padding-top: 20px;
}

.success{
  margin-right: auto;
  padding-left: 15px;
  display: flex;
}

#success{
  background-color: #31b0d5;
}

.fail{
  display: flex;
  padding-right: 15px;
}

#fail{
  background-color: #31b0d5;
}

/*bottom bits*/
.footer{
  padding-top: 25px;
  padding-bottom: 25px;
  color: #d9d9d9;
}

#right{
  box-sizing: border-box;
  padding-right:10px;
  text-align: center;
}

#social-gt{
  color: #d9d9d9;
}
#social-gt:hover{
  color: red;
  transition: color 0.3s linear;
}

#social-in{
  padding-left: 12px;
  padding-right: 12px;
  color: #d9d9d9;
}
#social-in:hover{
  color: #4099FF;
  transition: color 0.3s linear;
}

#social-fa{
  padding-right: 12px;
  color: #d9d9d9;
}
#social-fa:hover{
  color: #3B5998;
  transition: color 0.3s linear;
}

#social-ig{
  padding-right: 12px;
  color: #d9d9d9;
}
#social-ig:hover{
  color: #e600ac;
  transition: color 0.3s linear;
}

#social-me{
  color: #d9d9d9;
}
#social-me:hover{
  color: goldenrod;
  transition: color 0.3s linear;
}
