body{
  background-color: #F7F9FB;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0px;
  /*background-image: url("nature.jpg");*/
}

#inputText{
  background-color: white;
  width: 66%;
}

#outputText{
  /*height: 66% !important;*/
}

#outputParse{
  width: 100%;
}

#outputAST{

}

#outputCode{

}

#outputGen{

}

button{
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: #4484ce;
}
  button:hover{
    color: #f9cf00;
    background-color: #286da8;
  }

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #4484ce;
    border-bottom: 2px solid #d9d9d9;
}

li {
    /*This was effecting nav positioning*/
    display: initial;
}

li a {
    color: #d9d9d9;
    text-align: inherit;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #f9cf00;
}

form{
  padding-top: 20px;
}

#success{
  float: left;
  background-color: #4484ce;
  text-decoration: none;
}

#center{
  display: inline-block;
  color: #f9cf00;
}

#fail{
  float: right;
  background-color: #4484ce;
  text-decoration: none;
}

/*bottom bits*/
.footer{
  padding-top: 25px;
  color: #d9d9d9;
}

#right{
  box-sizing: border-box;
  padding-right:10px;
  text-align: center;
}

#social-gt{
  color: #d9d9d9;
}
#social-gt:hover{
  color: red;
  transition: color 0.3s linear;
}

#social-in{
  padding-left: 12px;
  padding-right: 12px;
  color: #d9d9d9;
}
#social-in:hover{
  color: #4099FF;
  transition: color 0.3s linear;
}

#social-fa{
  padding-right: 12px;
  color: #d9d9d9;
}
#social-fa:hover{
  color: #3B5998;
  transition: color 0.3s linear;
}

#social-ig{
  padding-right: 12px;
  color: #d9d9d9;
}
#social-ig:hover{
  color: #e600ac;
  transition: color 0.3s linear;
}

#social-me{
  color: #d9d9d9;
}
#social-me:hover{
  color: goldenrod;
  transition: color 0.3s linear;
}
